{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">Select</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/members/{{id}}">{{email}}</a></td>
            <td>{{password}}</td>
            <td><input type="checkbox" name="selectMember" value="{{id}}"></td>
        </tr>
    {{/memberList}}
    </tbody>
</table>

<a href="/members/new">New Memeber</a>
<a href="/createPdf">Download PDF</a>

{{>layouts/footer}}


